{% import _self as formMacros %}

{% macro printMemberRow(memberForm) %}
	<li class="row border border-aqua p-2">
		<div class="col-11">
			<div class="form-row">
				<div class="col-1 form-group">
					{{ form_row(memberForm.dni, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(memberForm.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(memberForm.surname1, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(memberForm.surname2, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-1 form-group">
					{{ form_row(memberForm.numberOfHours, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-2 form-group">
					<div class="col-2 form-check p-3">
						{{ form_label(memberForm.dependency, {'attr': {'class': 'form-check-label'}}) }}
						{{ form_widget(memberForm.dependency, {'attr': {'class': 'form-check-input'}}) }}
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-2 form-group">
					{{ form_row(memberForm.incomeAndAid, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(memberForm.professionalIncome, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(memberForm.dependencyAmount, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(memberForm.capitalIncome, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
			</div>
			<button id="deleteMember" type="button" class="btn btn-danger btn-sm js-deleteMember">{{ 'messages.deleteMember' | trans }}</button>
		</div>
		
	</li>
{% endmacro %}

{{ form_start(form, {'attr': {'class': '',
						 'novalidate': 'novalidate'
						} 
}) }}


<div class="container-fluid m-0">
	<div class="row m-1">
		<div class="col-12 border border-black p-0">
			<div class="border border-black text-center bg-light">
				<h2 class="h5">{{ "title.expedientPrincipal" | trans }}</h2>
			</div>
			<div class="col-12 form-row mt-1">
				<div class="col-1 form-group">
					{{ form_row(form.dni, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(form.surname1, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(form.surname2, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-1 form-check p-3">
					{{ form_label(form.pensioner, {'attr': {'class': 'form-check-label'}}) }}
					{{ form_widget(form.pensioner, {'attr': {'class': 'form-check-input'}}) }}
				</div>
				<div class="col-1 form-group ml-1">
					{{ form_row(form.heritage, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-1 form-group">
					{{ form_row(form.rentExpense, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col form-group">
					{{ form_row(form.mortgageExpense, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid m-0">
	<div class="row m-1">
		<div class="col-12 border border-black p-0">
			<div class="border border-black text-center bg-light">
				<span class="h5">{{ "title.members" | trans }}</span>
				<a	class="add-another-collection-widget"
					data-list-selector="#member-fields-list">
					<span class="badge badge-primary mb-1"><i class="fa fa-plus"></i></span>
				</a>
			</div>
			<div class="col-12 mt-1">
				{# store the prototype on the data-prototype attribute #}
				<ul id="member-fields-list"
					data-prototype="{{ formMacros.printMemberRow(form.members.vars.prototype)|e('html_attr') }}"
					data-widget-tags="{{ '<li></li>'|e }}"
					data-widget-counter="{{ form.members|length }}">
				{% for memberForm in form.members %}
					{{ formMacros.printMemberRow(memberForm) }}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid m-0">
	<div class="row m-1 p-0 d-flex justify-content-between">
		<div class="col p-0 mr-1 border border-black">
			<div class="col-12 border border-black text-center bg-light">
				<span class="h5">{{ "title.bonifications" | trans }}</span>
			</div>
			<div class="col-11 form-row mt-1">
				<div class="col-2 form-group">
					{{ form_row(form.dependencyBonus, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(form.rentBonus, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(form.mortgageBonus, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
			</div>
		</div>
		<div class="col-6 p-0 border border-black">
			<div class="col-12 border border-black text-center bg-light">
				<span class="h5">{{ "title.incomes" | trans }}</span>
			</div>
			<div class="col-12 form-row mt-1">
				<div class="col-2 form-group">
					{{ form_row(form.incomeAndAid, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(form.professionalIncome, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(form.capitalIncome, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(form.rawIncome, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-2 form-group">
					{{ form_row(form.netIncome, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid m-0">
	<div class="row m-1 p-0 border border-black">
		<div class="col-12 border border-black text-center bg-light">
			<span class="h5">{{ "title.calculations" | trans }}</span>
		</div>
		<div class="form-row col-12 mt-1">
			<div class="col-2 form-group">
				{{ form_row(form.equityIncrease, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
			</div>
			<div class="col-2">
				{{ form_row(form.monthlyContribution, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
			</div>
			<div class="col-2">
				{{ form_row(form.numberOfHours, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
			</div>
			<div class="col-2">
				{{ form_row(form.pricePerHour, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
			</div>
			
			
		</div>
	</div>
</div>

<div class="row justify-content-center mt-2">
{% if not readonly %}
    <button id="btnSave" class="btn btn-primary" type="button">{{ "btn.save" | trans }}</button>
{% endif %}
	<button class="btn btn-primary ml-2 js-back" type="button" data-url="{{ path('expedient_list') }}">{{ "btn.cancel" | trans }}</button>
	<button class="btn btn-primary ml-2 js-print" type="button" data-url="{{ path('expedient_print') }}">{{ "btn.print" | trans }}</button>
</div>
<!-- Token CSRF -->
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false, 
				   'attr': {'class': '',
			       } 
}) }}