{% extends 'base.html.twig' %}

{% block title %}{{ 'title.newExpedient' | trans }}{% endblock %}

{% block body %}
	<main>
		{{ include ('/expedient/_form.html.twig', {'readonly': readonly}) }}
	</main>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('expedient_edit') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('expedient_edit') }}
{% endblock %}