{{ form_start(form, {'attr': {'class': '',
						 'novalidate': 'novalidate'
						} 
}) }}

<div class="row justify-content-around mt-2">
	<div class="col-5 border border-black p-0">
		<div class="border border-black text-center bg-light">
			<h2 class="h5">{{ "title.dependency" | trans }}</h2>
		</div>
		<div class="form-row form-group justify-content-around p-1">
			{{ form_row(form.dependencyPercentage, {'attr': {'class': 'col form-control form-control-sm'}}) }}
			{{ form_row(form.dependencyMaximum, {'attr': {'class': 'col form-control form-control-sm'}}) }}
		</div>
	</div>
	<div class="col-5 border border-black p-0">
		<div class="border border-black text-center bg-light">
			<h2 class="h5">{{ "title.rental" | trans }}</h2>
		</div>
		<div class="form-row form-group justify-content-around p-1">
			{{ form_row(form.rentalPercentage, {'attr': {'class': 'col form-control form-control-sm'}}) }}
			{{ form_row(form.rentalMaximum, {'attr': {'class': 'col form-control form-control-sm'}}) }}
		</div>
	</div>
</div>
<div class="row justify-content-around mt-2">
	<div class="col-5 border border-black p-0">
		<div class="border border-black text-center bg-light">
			<h2 class="h5">{{ "title.mortgage" | trans }}</h2>
		</div>
		<div class="form-row form-group justify-content-around p-1">
			{{ form_row(form.mortgagePercentage, {'attr': {'class': 'col form-control form-control-sm'}}) }}
			{{ form_row(form.mortgageMaximum, {'attr': {'class': 'col form-control form-control-sm'}}) }}
		</div>
	</div>
	<div class="col-5 border border-black p-0">
		<div class="border border-black text-center bg-light">
			<h2 class="h5">{{ "title.pricePerHour" | trans }}</h2>
		</div>
		<div class="form-row form-group justify-content-around p-1">
			{{ form_row(form.realPricePerHour, {'attr': {'class': 'col form-control form-control-sm'}}) }}
			{{ form_row(form.maximumPricePerHour, {'attr': {'class': 'col form-control form-control-sm'}}) }}
		</div>
	</div>
</div>
		
<div class="row justify-content-center mt-2">
	<button id="btnSave" class="btn btn-primary" type="submit">{{ "btn.save" | trans }}</button>
	<button class="btn btn-primary ml-2 js-back" type="button" data-url="{{ path('default') }}">{{ "btn.cancel" | trans }}</button>
</div>
<!-- Token CSRF -->
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false, 
				   'attr': {'class': '',
			       } 
}) }}