{% extends 'base.html.twig' %}

{% block title %}
	{{ 'deduction.title' | trans }}
{% endblock %}

{% block body %}
	<main>
		{% include 'deduction/_form.html.twig' %}
	</main>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('deduction_edit') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('deduction_edit') }}
{% endblock %}
