{% extends 'base.html.twig' %}

{% block title %}
	{{ 'rgi.title' | trans }}
{% endblock %}

{% block body %}
	<main>
		{% include 'rgi/_form.html.twig' %}
	</main>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('rgi_edit') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('rgi_edit') }}
{% endblock %}
