{{ form_start(form, {'attr': {'class': '',
						 'novalidate': 'novalidate'
						} 
}) }}

	<div class="container-fluid m-0">
		<div class="row m-1">
			{{ include('quota/_titular.html.twig') }}
			{{ include('quota/_details.html.twig') }}
		</div>
	</div>

	<div class="container-fluid m-0">
		<div class="row m-1">
			{{ include('quota/_members.html.twig') }}
		</div>
	</div>

	<div class="container-fluid m-0">
		<div class="row m-1 p-0 d-flex justify-content-between">
			{{ include('quota/_bonuses.html.twig') }}
			{{ include('quota/_economic_situation.html.twig') }}
		</div>
	</div>

	<div class="container-fluid m-0">
		{{ include('quota/_calculations.html.twig') }}
	</div>

	{# <div class="row justify-content-center mt-2"> #}
	<div class="d-flex justify-content-center">
		<div class="d-grid gap-2 d-md-block">
			{% if not readonly and new %}
				<button id="btnSave" class="btn btn-primary" type="button" data-url="{{ path('quota_new') }}" {{ stimulus_controller('action-changer') }} data-action="action-changer#onClick">{{ "btn.save" | trans }}</button>
				<button id="btnCalculate" class="btn btn-success ml-2" type="button" data-url="{{ path('quota_calculate') }}" {{ stimulus_controller('action-changer') }} data-action="action-changer#onClick">{{ "btn.calculate" | trans }}</button>
			{% endif %}
			{% if not readonly and not new %}
				{% set params = app.request.query.all|merge({'quota' : form.vars.value.id}) %}
				<button id="btnSave" class="btn btn-primary" type="button" data-url="{{ path('quota_edit', params) }}" {{ stimulus_controller('action-changer') }} data-action="action-changer#onClick">{{ "btn.save" | trans }}</button>
				<button id="btnCalculate" class="btn btn-success ml-2" type="button" data-url="{{ path('quota_edit_calculate', params) }}" {{ stimulus_controller('action-changer') }} data-action="action-changer#onClick">{{ "btn.calculate" | trans }}</button>
			{% endif %}
			<a class="btn btn-secondary ml-2" type="button" href="{{ returnUrl is defined and not returnUrl is empty ? returnUrl : path('quota_index') }}" data-action="action-changer#onClick">{{ "btn.cancel" | trans }}</a>
			<button class="btn btn-info ml-2 js-print" type="button" data-url="{{ path('quota_print') }}" {{ stimulus_controller('action-changer') }} data-action="action-changer#onClick">{{ "btn.print" | trans }}</button>
		</div>
	</div>
<!-- Token CSRF -->
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false, 
				   'attr': {'class': '',
			       } 
}) }}