{% import _self as formMacros %}

{% macro printMemberRow(memberForm) %}
	<li class="list-group-item">
		<div class="col-lg-11">
			<div class="row">
				<div class="col-lg-2">
					{{ form_row(memberForm.dni, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_row(memberForm.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_row(memberForm.surname1, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_row(memberForm.surname2, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					{{ form_row(memberForm.incomeAndAid, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-1 ml-1">
					{{ form_row(memberForm.heritage, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_row(memberForm.dependencyGrade, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col form-check p-3">
					{{ form_label(memberForm.discapacity65, {'attr': {'class': 'form-check-label'}}) }}
					{{ form_widget(memberForm.discapacity65, {'attr': {'class': 'form-check-input'}}) }}
				</div>
			</div>
			<button id="deleteMember" type="button" class="btn btn-danger btn-sm js-deleteMember" data-action="collection#removeElement">{{ 'messages.deleteMember' | trans }}</button>
		</div>
	</li>
{% endmacro %}

<div class="col-12 border border-black p-0" {{ stimulus_controller('collection', {
	'listSelector' : '#member-fields-list'
	}) }}>
   <div class="border border-black text-center bg-light">
      <span class="h5">{{ "title.members" | trans }}</span>
      <a	data-action="collection#addElement">
         <span class="badge rounded-pill text-bg-primary mb-1"><i class="fa fa-plus"></i></span>
      </a>
   </div>
   <div class="col-12">
      {# store the prototype on the data-prototype attribute #}
      <ul id="member-fields-list" class="list-group"
         data-prototype="{{ formMacros.printMemberRow(form.members.vars.prototype)|e('html_attr') }}"
         data-widget-tags="{{ '<li></li>'|e }}"
         data-widget-counter="{{ form.members|length }}">
      {% for memberForm in form.members %}
         {{ formMacros.printMemberRow(memberForm) }}
      {% endfor %}
      </ul>
   </div>
</div>
