{{ form_start(form, {'attr': {'class': '',
						 'novalidate': 'novalidate'
						} 
}) }}
<div class="container-fluid m-0">
	<div class="row m-1">
		<div class="col-12 border border-black p-0">
			<div class="border border-black text-center bg-light">
				<h2 class="h5">{{ "title.search" | trans }}</h2>
			</div>			
			<div class="container-fluid row m-1">
				<div class="col-lg">
					{{ form_row(form.dni, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_row(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_row(form.surname1, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_row(form.surname2, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg">
					{{ form_row(form.fromDate, { 'attr': { 'id': '', 'class' : 'form-control form-control-sm', 'data-controller' : 'datetimepicker', 'data-datetimepicker-show-clock-value': 'false', 'data-datetimepicker-format-value': 'yyyy-MM-dd'} }) }}
				</div>
				<div class="col-lg">
					{{ form_row(form.toDate, { 'attr': { 'id': '', 'class' : 'form-control form-control-sm', 'data-controller' : 'datetimepicker', 'data-datetimepicker-show-clock-value': 'false', 'data-datetimepicker-format-value': 'yyyy-MM-dd'} }) }}
				</div>
				<div class="col-lg-1 mt-1">
					<button id="btnSearch" class="btn btn-primary" type="submit">{{ "btn.search" | trans }}</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Token CSRF -->
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false, 
				   'attr': {'class': '',
				   } 
}) }}

