{{ form_start(form, {'attr': {'class': '',
						 'novalidate': 'novalidate'
						} 
}) }}

<div class="container-fluid m-0">
	<div class="row m-1">
		<div class="col-12 border border-black p-0">
		<div class="border border-black text-center bg-light">
			<h2 class="h5">{{ "title.search" | trans }}</h2>
		</div>			
			<div class="col-12 form-row mt-1">
				<div class="col-lg-2 form-group">
					{{ form_row(form.dni, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-2 form-group">
					{{ form_row(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-2 form-group">
					{{ form_row(form.surname1, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-2 form-group">
					{{ form_row(form.surname2, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg form-group">
					{{ form_row(form.fromDate, { 'attr': { 'id': '', 'class' : 'js-datetimepicker form-control form-control-sm'} }) }}
				</div>
				<div class="col-lg form-group">
					{{ form_row(form.toDate, { 'attr': { 'id': '', 'class' : 'js-datetimepicker form-control form-control-sm'} }) }}
				</div>
				<div class="col-lg-1 form-group mt-2">
					<button id="btnSearch" class="btn btn-primary" type="button">{{ "btn.search" | trans }}</button>
				</div>
{#				<div class="col-1 form-check p-3">
					{{ form_label(form.pensioner, {'attr': {'class': 'form-check-label'}}) }}
					{{ form_widget(form.pensioner, {'attr': {'class': 'form-check-input'}}) }}
				</div>
#}			</div>
		</div>
	</div>
</div>

<!-- Token CSRF -->
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false, 
				   'attr': {'class': '',
				   } 
}) }}

