<div class="col-lg-8 border p-0 mr-1">
   <div class="border text-center bg-light">
      <h2 class="h5">{{ "title.quotaPrincipal" | trans }}</h2>
   </div>
   <div class="container row mt-1">
      <div class="col-lg-2">
         {{ form_row(form.dni, {'attr': {'class': 'form-control form-control-sm'}}) }}
      </div>
      <div class="col-lg-2">
         {{ form_row(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
      </div>
      <div class="col-lg-3">
         {{ form_row(form.surname1, {'attr': {'class': 'form-control form-control-sm'}}) }}
      </div>
      <div class="col-lg-3">
         {{ form_row(form.surname2, {'attr': {'class': 'form-control form-control-sm'}}) }}
      </div>
      <div class="col-lg">
         {{ form_row(form.numberOfHours, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
      </div>
      
   </div>
   <div class="container row mt-1">
      <div class="col-3 form-check p-3">
         {{ form_label(form.pensioner, {'attr': {'class': 'form-check-label'}}) }}
         {{ form_widget(form.pensioner, {'attr': {'class': 'form-check-input'}}) }}
      </div>
      <div class="col-3">
         {{ form_row(form.dependencyGrade, {'attr': {'class': 'form-select form-select-sm text-right'}}) }}
      </div>
      <div class="col-3 form-check p-3">
         {{ form_label(form.discapacity65, {'attr': {'class': 'form-check-label'}}) }}
         {{ form_widget(form.discapacity65, {'attr': {'class': 'form-check-input'}}) }}
      </div>
      <div class="col-3 form-check mt-3">
         {{ form_widget(form.sex, {'attr': {'class': 'form-check-inline'}}) }}
      </div>
   </div>
</div>
